/* @import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,100,700,400,300,200,900&display=swap'); */
@import url('https://api.fontshare.com/v2/css?f[]=epilogue@400,300,800,200,500,600,100,700,900&display=swap');
/* @import url('https://api.fontshare.com/v2/css?f[]=melodrama@300,400,600,700,500&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=ranade@700,300,100,400,500&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=fira-sans@400,300,600,100,900,200,800,500,700&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=switzer@600,800,900,100,700,400,200,300,500&display=swap'); */
/* @import url('https://api.fontshare.com/v2/css?f[]=excon@400,900,700,500,300,100&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Satoshi', sans-serif; */
  /* font-family: 'General Sans', sans-serif; */
  /* font-family: 'Cabinet Grotesk', sans-serif; */
  font-family: 'Epilogue', sans-serif;
  /* font-family: 'Melodrama', serif; */
  /* font-family: 'Ranade', sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Switzer', sans-serif; */
  /* font-family: 'Excon', sans-serif; */
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    @apply bg-coolmint-800;
  }
}
