@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /* background-color: rgb(18, 14, 34); */
  /* background-color: #150e20;
  background-image: linear-gradient(
    50deg,
    hsl(248deg 57% 3%) 0%,
    hsl(254deg 81% 5%) 11%,
    hsl(260deg 92% 6%) 20%,
    hsl(263deg 100% 5%) 29%,
    hsl(265deg 99% 5%) 37%,
    hsl(262deg 94% 4%) 45%,
    hsl(260deg 60% 1%) 53%,
    hsl(260deg 93% 3%) 61%,
    hsl(262deg 98% 5%) 69%,
    hsl(263deg 100% 6%) 76%,
    hsl(258deg 91% 5%) 84%,
    hsl(252deg 79% 4%) 92%,
    hsl(248deg 57% 2%) 100%
  ); */
  /* background-image: linear-gradient(
    305deg,
    hsl(270deg 100% 4%) 0%,
    hsl(270deg 94% 7%) 7%,
    hsl(271deg 92% 10%) 14%,
    hsl(270deg 86% 14%) 21%,
    hsl(267deg 86% 15%) 28%,
    hsl(262deg 90% 12%) 35%,
    hsl(256deg 96% 9%) 42%,
    hsl(251deg 100% 7%) 49%,
    hsl(256deg 96% 9%) 55%,
    hsl(262deg 90% 12%) 62%,
    hsl(268deg 87% 15%) 69%,
    hsl(268deg 87% 15%) 76%,
    hsl(262deg 90% 12%) 84%,
    hsl(256deg 96% 9%) 92%,
    hsl(251deg 100% 7%) 100%
  ); */
}

@layer base {
  body {
    @apply bg-coolmint-800;
  }
}
